[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
beautifulsoup4 = "*"
requests = "*"
lxml = "*"
pymysql = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-admin = "*"
flask-migrate = "*"
google = "*"

[dev-packages]

[requires]
python_version = "3.8"
